.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000;
  color: white;
  margin-bottom: 0;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.auth a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}